
header {
    text-align: center;
    font-family: Arial;
    width: 100%;
    float: left;
}

nav {

    width: 20%;
    float: left;
}

main {
    text-align: center;
    font-size: large;
    width: 60%;
    float: left;
}



footer {
    margin-top: 25px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    width:100%;
    float: left;


}

main img {
    width: 250px;
    display: block;
    margin: 0 auto;
}

main p {
    margin-top: 30px;
    text-indent: 25px;
    text-align: center;
}

/*MENUS*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightpink;
    border: 3px solid lightskyblue;
}

li a {
    display: block;
    color: black;
    padding: 8px 0 8px 19px;
    text-decoration: none;
}

/* menu hover */

li a:hover {
    background-color: whitesmoke;
    color: blue;
}

li {
    text-align: center;
    border-bottom: 3px solid lightskyblue;

}

li:last-child{
    border-bottom: none;
}

table {

    margin: auto;
    border-collapse: collapse;

}

td, th, tr {

    padding-right: 10px;
    padding-left: 10px;
    text-align: center;

}

#error {
    color: red;
}